.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.header__black {
  background-color: #090a0c;
}

.header__logo > img {
  width: 100px;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 20px;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 50px;
  width: 70%;
  max-width: 650px;
}
.right > h5 {
  font-weight: 400;
  margin: 0;
  position: relative;
  color: #efc38a;
}
h5:before {
  background-color: #efc38a;;
  border-radius: 0px 0px 4px 4px;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
h5:hover::before {
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
.right {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__navIcons {
  width: 1.5rem;
  margin-right: 5px;
  color: #efc38a;
}
.header__menuIcon{
  color: #efc38a;
  cursor: pointer;
  display: none;
}
input[type='text'] {
  border-radius: 20px;
  border: solid 1px #5b6770;
  background: rgb(206, 206, 206);
  color: black;
  display: block;
  padding: 10px 20px;
  height: 36px;
  width: 100%;
  transition: all 0.1s ease-in-out;
  outline: none;
}
input[type='text']::placeholder{
  color: black;
}
.header__search{
  position: relative;
}

@media only screen and (max-width: 560px) {
  .header__logo > img {
    width: 60px !important;
    padding-top: 0px !important;
    padding-left: 10px !important;
  }
  .header__right {
    background: #040714;
    position: relative;
    top: 100px;
    height: 150px;
    flex-direction: column;
    width: 100%;
    margin-left: -60px;
    margin-right: -44px;
    margin-top: 0;
    padding: 10px 0;
  }
  .header__menuIcon{
    margin-right: 10px;
    display: block;
  }
}
