.loginScreen__background {
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/login-background.jpg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.loginScreen__header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #090b13;
  display: flex;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 36px;
}
.loginScreen__logo {
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./images/logo.png);
  cursor: pointer;
}
.loginScreen__loginButton {
  height: 40px;
  color: #f9f9f9 !important;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px !important;
  border: 1px solid whitesmoke !important;
  padding: 5px 20px !important;
  border-radius: 4px !important;
  font-size: 18px !important;
  letter-spacing: 1.5px !important;
  font-weight: bold !important;
  cursor: pointer;
}
.loginScreen__loginButton:hover {
  background-color: #f9f9f9 !important;
  color: #000 !important;
  border-color: transparent !important;
}
.loginScreen__body {
  max-width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.loginScreen_getAllButton {
  font-weight: bold !important;
  color: #f9f9f9 !important;
  background-color: #0063e5 !important;
  margin-bottom: 12px !important;
  width: 100%;
  letter-spacing: 1.5px !important;
  font-size: 18px;
  padding: 16.5px 0 !important;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.loginScreen_getAllButton:hover {
  background-color: #0483ee !important;
}
.loginScreen__logoTop {
  width: 100%;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/cta-logo-one.svg");
  margin-bottom: 20px;
}
.loginScreen__logoBottom {
  width: 100%;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/cta-logo-two.png");
}
.loginScreen__description {
  color: hsla(0, 0%, 95.3%, 1);
  font-size: 11px;
  margin: 0 0 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
